[Unit]
Description=Bird fixed RG34XX-SP storage view
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
Environment=HOME=/storage
ExecStart=/flash/bird/fixed-storage.sh
RemainAfterExit=yes

[Install]
WantedBy=rocknix.target
