# Bird fixed RG34XX-SP native RetroArch policy.
input_driver = "udev"
input_autodetect_enable = "true"
joypad_autoconfig_dir = "/run/bird/joypads"
core_options_path = "/run/bird/retroarch-core-options.cfg"
input_enable_hotkey_btn = "8"
input_exit_emulator_btn = "9"
libretro_directory = "/usr/lib/libretro"
system_directory = "/storage/MUOS/bios"
savefile_directory = "/storage/MUOS/Bird/save/files"
savestate_directory = "/storage/MUOS/Bird/save/states"
screenshot_directory = "/storage/MUOS/Bird/screenshots"
audio_driver = "alsathread"
audio_device = "hw:0,0"
audio_latency = "64"
video_fullscreen = "true"
video_fullscreen_x = "720"
video_fullscreen_y = "480"
gamemode_enable = "false"
config_save_on_exit = "false"
